body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 1rem;
}

#results-container {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

#results {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

#results th,
#results td {
    border: 1px solid #ddd;
    padding: 8px;
}

#results th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
